In [1]:
# module 5
# in this module, we will learn how to update rows and columns and also modifying data within our dataframe.

# lets look at updating column first, then we will update some rows.

In [49]:
import pandas as pd

mul_people={
    "first":["Ahammad","Corey","John","Jaden","Boss"],
    "last":["Shawki","Schafer","Joker","Joker","Zack"],
    "email":["ahammadshawki8@gmail.com","CoreyMScafer@gmail.com",
             "joker420@outlook.com","jokerOfficial@yahoo.com","zack2@gmail.com"],
}

dic_df=pd.DataFrame(mul_people)
dic_df

     first     last                     email
0  Ahammad   Shawki  ahammadshawki8@gmail.com
1    Corey  Schafer    CoreyMScafer@gmail.com
2     John    Joker      joker420@outlook.com
3    Jaden    Joker   jokerOfficial@yahoo.com
4     Boss     Zack           zack2@gmail.com

In [3]:
# before we modify the columns, lets first look at these using columns attribute.
print(dic_df.columns)

Index(['first', 'last', 'email', 'salary'], dtype='object')

In [4]:
# lets say we want to update the column name to be more specific.
# we want "firstname" instead of first column and things like that. 

# there are couple of ways that we can do that.
# so first if we want to rename all of the columns, then we can simply do an assignment using the columns attribute.
# so, in order to do that-
dic_df.columns=['first name', 'last name', 'email', 'salary']

In [5]:
dic_df

  first name last name                     email  salary
0    Ahammad    Shawki  ahammadshawki8@gmail.com  883600
1      Corey   Schafer    CoreyMScafer@gmail.com   33610
2       John     Joker      joker420@outlook.com   33500
3      Jaden     Joker   jokerOfficial@yahoo.com   44000
4       Boss      Zack           zack2@gmail.com   70010

In [6]:
# this is useful when we are passing different names for all of our columns.
# but we may need to change the name of few different columns.
# but one thing that is common is the need to change something specific about each column in our dataframe.
# for example,if our column names are all uppercase and we want to make them lowerccase or vice verse.
# or we want to replace our column name spaces with underscore.
# in this case we can use a list comprehension.

# lets say we want to uppercase all of the column namas here.
new_columns=[name.upper() for name in dic_df.columns]
dic_df.columns=new_columns

In [7]:
dic_df

  FIRST NAME LAST NAME                     EMAIL  SALARY
0    Ahammad    Shawki  ahammadshawki8@gmail.com  883600
1      Corey   Schafer    CoreyMScafer@gmail.com   33610
2       John     Joker      joker420@outlook.com   33500
3      Jaden     Joker   jokerOfficial@yahoo.com   44000
4       Boss      Zack           zack2@gmail.com   70010

In [8]:
# Remove spaces with undersoce.
# sometimes we need to remove all the spaces in our column name.
# it is useful because we cant call them with dot(.) method if there are spaces.
#dic_df.FIRST NAME # this will give us an error.
# so, we can-
new_columns=[name.replace(" ","_") for name in dic_df.columns]
dic_df.columns=new_columns

In [9]:
dic_df

  FIRST_NAME LAST_NAME                     EMAIL  SALARY
0    Ahammad    Shawki  ahammadshawki8@gmail.com  883600
1      Corey   Schafer    CoreyMScafer@gmail.com   33610
2       John     Joker      joker420@outlook.com   33500
3      Jaden     Joker   jokerOfficial@yahoo.com   44000
4       Boss      Zack           zack2@gmail.com   70010

In [10]:
# or we can use this str method in our dic_df.columns.
dic_df.columns=dic_df.columns.str.replace(" ","_")
dic_df
# this will do the same thing

  FIRST_NAME LAST_NAME                     EMAIL  SALARY
0    Ahammad    Shawki  ahammadshawki8@gmail.com  883600
1      Corey   Schafer    CoreyMScafer@gmail.com   33610
2       John     Joker      joker420@outlook.com   33500
3      Jaden     Joker   jokerOfficial@yahoo.com   44000
4       Boss      Zack           zack2@gmail.com   70010

In [11]:
# let us go ahead and set those columns the way they were before.
new_columns=[name.lower() for name in dic_df.columns]
dic_df.columns=new_columns

In [12]:
dic_df

  first_name last_name                     email  salary
0    Ahammad    Shawki  ahammadshawki8@gmail.com  883600
1      Corey   Schafer    CoreyMScafer@gmail.com   33610
2       John     Joker      joker420@outlook.com   33500
3      Jaden     Joker   jokerOfficial@yahoo.com   44000
4       Boss      Zack           zack2@gmail.com   70010

In [13]:
# so what we have seen is that how to modify all of our columns.
# but what if we want to change some specific columns.
# we can use the rename() method and just pass a dictionary of the column that we want to change.

# if we want to change the first_name and last_name what they were before we can-
dic_df.rename(columns={"first_name":"first","last_name":"last"},inplace=True)
# here the key will be the old name, and the value will be the new name.
# if we run this now, it might look it work.
# but if we look at our dataframe, those changes wont be work.
# so if we want that change to be placed permanently then we need to say inplace=True.

In [14]:
dic_df

     first     last                     email  salary
0  Ahammad   Shawki  ahammadshawki8@gmail.com  883600
1    Corey  Schafer    CoreyMScafer@gmail.com   33610
2     John    Joker      joker420@outlook.com   33500
3    Jaden    Joker   jokerOfficial@yahoo.com   44000
4     Boss     Zack           zack2@gmail.com   70010

In [15]:
# now lets look at updating our data in the rows.
# and we will spent the majority of time learning how to update data in our row
# since there are so much that we can do here.

# first lets look at how to update a single value.
# we can access values in rows using loc[] and iloc[] indexers.
# let us grab the third row and change its last name to smith.
dic_df.loc[2]

first                     John
last                     Joker
email     joker420@outlook.com
salary                   33500
Name: 2, dtype: object

In [16]:
# now in order to update the information, there are couple of ways that we can do this.
# we can pass in all of the new values of this row by passing in a list.
dic_df.loc[2] = ["John","Smith","itismith@outlook.com",33600]

In [17]:
dic_df

     first     last                     email  salary
0  Ahammad   Shawki  ahammadshawki8@gmail.com  883600
1    Corey  Schafer    CoreyMScafer@gmail.com   33610
2     John    Smith      itismith@outlook.com   33600
3    Jaden    Joker   jokerOfficial@yahoo.com   44000
4     Boss     Zack           zack2@gmail.com   70010

In [18]:
# but what if we have a lot of columns and we wanted to change a couple of values?
# in this case we can just specify the exact column using loc[].
dic_df.loc[4,["first","email"]]=["Zakaria","zz_original@outlook.com"]

In [19]:
dic_df

     first     last                     email  salary
0  Ahammad   Shawki  ahammadshawki8@gmail.com  883600
1    Corey  Schafer    CoreyMScafer@gmail.com   33610
2     John    Smith      itismith@outlook.com   33600
3    Jaden    Joker   jokerOfficial@yahoo.com   44000
4  Zakaria     Zack   zz_original@outlook.com   70010

In [20]:
# if we want to change a single value we dont need to pass a list.
dic_df.loc[3,"first"]="Jackson"

In [21]:
dic_df

     first     last                     email  salary
0  Ahammad   Shawki  ahammadshawki8@gmail.com  883600
1    Corey  Schafer    CoreyMScafer@gmail.com   33610
2     John    Smith      itismith@outlook.com   33600
3  Jackson    Joker   jokerOfficial@yahoo.com   44000
4  Zakaria     Zack   zz_original@outlook.com   70010

In [22]:
# now pandas does have another indexer called at.
# this is specifically made for changing or grabbing specific value.
# but .loc[] indexer is recommanded.
dic_df.at[3,"first"]="Real"

In [23]:
dic_df

     first     last                     email  salary
0  Ahammad   Shawki  ahammadshawki8@gmail.com  883600
1    Corey  Schafer    CoreyMScafer@gmail.com   33610
2     John    Smith      itismith@outlook.com   33600
3     Real    Joker   jokerOfficial@yahoo.com   44000
4  Zakaria     Zack   zz_original@outlook.com   70010

In [24]:
# now we will look at a mistake which is very common.
# that is many people try to change the value without using a indexer.
# lets say we have a large dataframe where we want to find a man with a email of itismith@outlook.com 
# and we want to change his last name.

# first grab the mans info using filter.
filt=(dic_df["email"]=="itismith@outlook.com")
dic_df[filt]

  first   last                 email  salary
2  John  Smith  itismith@outlook.com   33600

In [25]:
# that actually return a dataframe there that has a single row.
# we can grab the last name column just by accessing the "last" column after the dataframe in brackets[]
dic_df[filt]["last"]

2    Smith
Name: last, dtype: object

In [26]:
# now we can say that, ok we have got the value. lets change that using equal sign.
dic_df[filt]["last"]="Hector"
# we are getting a big warning: SettingWithCopyWarning
# they are suggested to-
# Try using .loc[row_indexer,col_indexer] = value instead

f:\python soft file\python37\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [27]:
dic_df
# if we see our dataframe, we can see that it is not changed.
# the reason it didn't do any change here is little complicated.
# essentially the way we are doing it here requirs multiple operation on the backgrounds,
# which cant determain whether pandas return a view or a copy of our dataframe.
# so when our value isnt getting set, its because it is getting set on a temporary object 
# which is getting tossed out immidiately after
# pandas is giving a little link here of the documentation directly within its warning itself.
# if we want to know more about this then we can click on that link and learn it in details.
# but the moral of the story here is that when we are setting or changing values,
# we should use .loc[], .iloc[] or .at[] indexer that we have already seen.
# again loc[] and iloc[] indexers are recommanded.
dic_df.loc[filt,"last"]="Hector"

In [28]:
dic_df
# we can see that it works fime.
# so whenever we see that kind of staffs we mustnt ignore them.
# instead we should learn more about them and be careful in future,

     first     last                     email  salary
0  Ahammad   Shawki  ahammadshawki8@gmail.com  883600
1    Corey  Schafer    CoreyMScafer@gmail.com   33610
2     John   Hector      itismith@outlook.com   33600
3     Real    Joker   jokerOfficial@yahoo.com   44000
4  Zakaria     Zack   zz_original@outlook.com   70010

In [29]:
# we have learned how to update a single row of data.
# but how to update multiple rows of data?
# there are couple of different ways that we can do that.

# lets say we want to change all of the email adderesses so that they are lowercase.
# we can do that with str.lower() method.
# first we need to grab the email column.
dic_df["email"].str.lower()
# this  just returns lowercase values of those emails.
# it didnt actually make that change.
# in order to make that change we can simply assign the "email" column to this values.
dic_df["email"]=dic_df["email"].str.lower()

In [30]:
dic_df

     first     last                     email  salary
0  Ahammad   Shawki  ahammadshawki8@gmail.com  883600
1    Corey  Schafer    coreymscafer@gmail.com   33610
2     John   Hector      itismith@outlook.com   33600
3     Real    Joker   jokerofficial@yahoo.com   44000
4  Zakaria     Zack   zz_original@outlook.com   70010

In [31]:
# that's one way that we can change multiple rows at once.
# but maybe we want to do something a little more advanced.
# there are several ways to do this
# and we will go over all four popular methods in order to do this.
# lot of people get this four methods confused.
# so lets go over each one individually and try to explain them in details.
# and there is definately a good reason why all of these people get confused
# because there are very simmilar in what they do.

In [32]:
# the 4 methods that we will talk about are-
# apply
# map
# applymap
# replace

In [33]:
# apply:
# apply is use for calling a function on our values.
# apply can work in either a dataframe or a series object.
# its behaviour might be different than we expect for each of different objects.

# first, lets look how apply works in a series? 
# when we use this on a series it can apply function on every values on our series.
# lets say we want to see the length of all of our email addresses.
# we can use the apply function.
dic_df["email"].apply(len)
# here we need to use the name of len funtion without parenthesis as a arguement of apply function.
# because we are not executing the function. So, no brackets()

0    24
1    22
2    20
3    23
4    23
Name: email, dtype: int64

In [34]:
# so apply is useful to apply functions on all our grabbed values.
# we can also use the apply function for updating values as well.

# let us write a simple function here.
def update_email(email):
    return email.upper()

# lets apply this function to our email column
dic_df["email"]= dic_df["email"].apply(update_email)

In [35]:
dic_df

     first     last                     email  salary
0  Ahammad   Shawki  AHAMMADSHAWKI8@GMAIL.COM  883600
1    Corey  Schafer    COREYMSCAFER@GMAIL.COM   33610
2     John   Hector      ITISMITH@OUTLOOK.COM   33600
3     Real    Joker   JOKEROFFICIAL@YAHOO.COM   44000
4  Zakaria     Zack   ZZ_ORIGINAL@OUTLOOK.COM   70010

In [36]:
# for simple function like this people also use lambda function as an arguement in apply function.
dic_df["email"]= dic_df["email"].apply(lambda x:x.lower())

In [37]:
dic_df

     first     last                     email  salary
0  Ahammad   Shawki  ahammadshawki8@gmail.com  883600
1    Corey  Schafer    coreymscafer@gmail.com   33610
2     John   Hector      itismith@outlook.com   33600
3     Real    Joker   jokerofficial@yahoo.com   44000
4  Zakaria     Zack   zz_original@outlook.com   70010

In [41]:
# so if we are more comfortable writting with the general function, then we can do it without lambda function.
# and we can use lambda function for simple function like this.

# now here we are working with strings.
# but we can use the apply function with any other datatypes 
# like integers or float to calculate all the values at once.

# this is how apply works in series object.
# now lets see how apply works in dataframe.
# when we run apply on a series, it will apply in all values of the series.
# when we run apply on a dataframe, it run a function on each row and column of that dataframe.
# lets see what this looks like.

# instead of writing a specific column,if we use apply() method in the dataframe.
# it will run the function on every column of our dataframe.
dic_df.apply(len)
# in this case, it is giving us our "first" column has 5 values and so on.
# thats just the number of rows in each column.
# but that we didnt expect.

first     5
last      5
email     5
salary    5
dtype: int64

In [44]:
# so whats going on here, is that is not applying the function to all values of our dataframe.
# it is actually applying the function to each series(column) of that dataframe.
# we can also use the apply() function to our rows if we change the axis arguement to "columns".
dic_df.apply(len,axis="columns")

0    4
1    4
2    4
3    4
4    4
dtype: int64

In [45]:
# so basically, we want to use functions that will make sense to be used on series object
# when using apply on a dataframe.

# for example lets say we want to grab the minimum value from each column.
# Series object (which is from pandas library) has a min() method.
# so we could pass that mathod in apply and see the minimum values of each series.
# when we try to grab the minimum value from a series of strings,
# it will just give us the value which is first in alphabettical orger.
dic_df.apply(pd.Series.min)

first                      Ahammad
last                        Hector
email     ahammadshawki8@gmail.com
salary                       33600
dtype: object

In [46]:
# and we can use lambda function for this as well.
# here the param of lambda is going to be a series if we apply that lambda on a datframe.
dic_df.apply(lambda x: x.min())
# a series have a min() method.
# if we run that we can see that will give us the same thing that we run before.

first                      Ahammad
last                        Hector
email     ahammadshawki8@gmail.com
salary                       33600
dtype: object

In [47]:
# this is way more useful if our dataframe contains numeric data.
# for example we can use numpy to apply this function
# to all of our series object or any time of numerical analysis like that.

# ok if we run apply in series, it will apply a function to all of the values of that series.
# again if we run apply in database, it will apply a function to all of the columns of that database.

# but we might be wondering if there is a way
# to apply a function on all of the each individual values of a database?
# and thats what applymap() function is use for.

In [50]:
# applymap():
# applymap only works in the dataframe.
# series object dont have the applymap() method.

# lets use that built_in len() function and apply that using applymap()
dic_df.applymap(len)

   first  last  email
0      7     6     24
1      5     7     22
2      4     5     20
3      5     5     23
4      4     4     15

In [56]:
# we can see that its now applying the function to each individual value of our dataframe.
# now we know the difference between apply() and applymanp()
# we should me careful when we need to use one of them.

# for example, since we have a dataframe full of strings here.
# if we wanted all the values will be lowercase.
# we can use applymap and string lower method.
dic_df.applymap(str.lower)

     first     last                     email
0  ahammad   shawki  ahammadshawki8@gmail.com
1    corey  schafer    coreymscafer@gmail.com
2     john    joker      joker420@outlook.com
3    jaden    joker   jokerofficial@yahoo.com
4     boss     zack           zack2@gmail.com

In [58]:
# if we have numeric data in our dataframe 
# we will get an error here since we cant use str methods in numeric values.
# we need to pass in a more complicated function so that they can handle it appropriately.

# now lets look at the map method.
# map():
# map method only works in a sseries.
# map is used for substituting each value in a series with another value.
# lets say we want to sunstitute couple of values from our "first" column.
dic_df["first"].map({"Corey":"Mooray","Boss":"Coaster"})
# here we need to add a dictionary as an arguement.

0        NaN
1     Mooray
2        NaN
3        NaN
4    Coaster
Name: first, dtype: object

In [59]:
# if we run this we can see that it prints a series where the given names are substituted out.
# the values that we didnt sunstitute is converted is turned in NaN value(not an number)
# that may or may not be we want.

# in this example, we likely want to get rid  of this NaN values.
# we might think to keep john and substitute other names.
# for this we can use replace() mathod.
dic_df["first"].replace({"Corey":"Mooray","Boss":"Coaster"})

0    Ahammad
1     Mooray
2       John
3      Jaden
4    Coaster
Name: first, dtype: object

In [60]:
# verything that we done here, doesn;t actually change the dataframe.
# if we want to set this to the actual column, then we will have to do something like this.
dic_df["first"]=dic_df["first"].replace({"Corey":"Mooray","Boss":"Coaster"})

In [61]:
dic_df

     first     last                     email
0  Ahammad   Shawki  ahammadshawki8@gmail.com
1   Mooray  Schafer    CoreyMScafer@gmail.com
2     John    Joker      joker420@outlook.com
3    Jaden    Joker   jokerOfficial@yahoo.com
4  Coaster     Zack           zack2@gmail.com

In [62]:
# now we have look at lot of ways to modify our data.
# now go to our larger dataset and look at some real world example of how apply what we have learned here.

df=pd.read_csv("stackoverflow/survey_results_public.csv",index_col="Respondent")
schema_df=pd.read_csv("stackoverflow/survey_results_schema.csv",index_col="Column")

pd.set_option("display.max_columns", 85)
pd.set_option("display.max_rows", 85)

df.head()

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,OrgSize,DevType,YearsCode,Age1stCode,YearsCodePro,CareerSat,JobSat,MgrIdiot,MgrMoney,MgrWant,JobSeek,LastHireDate,LastInt,FizzBuzz,JobFactors,ResumeUpdate,CurrencySymbol,CurrencyDesc,CompTotal,CompFreq,ConvertedComp,WorkWeekHrs,WorkPlan,WorkChallenge,WorkRemote,WorkLoc,ImpSyn,CodeRev,CodeRevHrs,UnitTests,PurchaseHow,PurchaseWhat,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,MiscTechWorkedWith,MiscTechDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs,BetterLife,ITperson,OffOn,SocialMedia,Extraversion,ScreenName,SOVisit1st,SOVisitFreq,SOVisitTo,SOFindAnswer,SOTimeSaved,SOHowMuchTime,SOAccount,SOPartFreq,SOJobs,EntTeams,SOComm,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",NaN,NaN,4,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HTML/CSS;Java;JavaScript;Python,C;C++;C#;Go;HTML/CSS;Java;JavaScript;Python;SQL,SQLite,MySQL,MacOS;Windows,Android;Arduino;Windows,Django;Flask,Flask;jQuery,Node.js,Node.js,IntelliJ;Notepad++;PyCharm,Windows,I do not use containers,NaN,NaN,Yes,"Fortunately, someone else has that title",Yes,Twitter,Online,Username,2017,A few times per month or weekly,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was much faster,31-60 minutes,No,NaN,"No, I didn't know that Stack Overflow had a jo...","No, and I don't know what those are",Neutral,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,NaN,"Developer, desktop or enterprise applications;...",NaN,17,NaN,NaN,NaN,NaN,NaN,NaN,I am actively looking for a job,I've never had a job,NaN,NaN,Financial performance or funding status of the...,"Something else changed (education, award, medi...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C++;HTML/CSS;Python,C++;HTML/CSS;JavaScript;SQL,NaN,MySQL,Windows,Windows,Django,Django,NaN,NaN,Atom;PyCharm,Windows,I do not use containers,NaN,Useful across many domains and could change ma...,Yes,Yes,Yes,Instagram,Online,Username,2017,Daily or almost daily,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was much faster,11-30 minutes,Yes,A few times per month or weekly,"No, I knew that Stack Overflow had a job board...","No, and I don't know what those are","Yes, somewhat",Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,"Taught yourself a new language, framework, or ...",100 to 499 employees,"Designer;Developer, back-end;Developer, front-...",3,22,1,Slightly satisfied,Slightly satisfied,Not at all confident,Not sure,Not sure,"I’m not actively looking, but I am open to new...",1-2 years ago,Interview with people in peer roles,No,"Languages, frameworks, and other technologies ...",I was preparing for a job search,THB,Thai baht,23000.0,Monthly,8820.0,40.0,There's no schedule or spec; I work on what se...,Distracting work environment;Inadequate access...,Less than once per month / Never,Home,Average,No,NaN,"No, but I think we should",Not sure,I have little or no influence,HTML/CSS,Elixir;HTML/CSS,PostgreSQL,PostgreSQL,NaN,NaN,NaN,Other(s):,NaN,NaN,Vim;Visual Studio Code,Linux-based,I do not use containers,NaN,NaN,Yes,Yes,Yes,Reddit,In real life (in person),Username,2011,A few times per week,Find answers to specific questions;Learn how t...,6-10 times per week,They were about the same,NaN,Yes,Less than once per month or monthly,Yes,"No, I've heard of them, but I am not part of a...",Neutral,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,100 to 499 employees,"Developer, full-stack",3,16,Less than 1 year,Very satisfied,Slightly satisfied,Very confident,No,Not sure,I am not interested in new job opportunities,Less than a year ago,"Write code by hand (e.g., on a whiteboard);Int...",No,"Languages, frameworks, and other technologies ...",I was preparing for a job search,USD,United States dollar,61000.0,Yearly,61000.0,80.0,There's no schedule or spec; I work on what se...,NaN,Less than once per month / Never,Home,A little below average,No,NaN,"No, but I think we should",Developers typically have the most influence o...,I have little or no influence,C;C++;C#;Python;SQL,C;C#;JavaScript;SQL,MySQL;SQLite,MySQL;SQLite,Linux;Windows,Linux;Windows,NaN,NaN,.NET,.NET,Eclipse;Vim;Visual Studio;Visual Studio Code,Windows,I do not use containers,Not at all,"Useful for decentralized currency (i.e., Bitcoin)",Yes,SIGH,Yes,Reddit,In real life (in person),Username,2014,Daily or almost daily,Find answers to specific questions;Pass the ti...,1-2 times per week,Stack Overflow was much faster,31-60 minutes,Yes,Less than once per month or monthly,Yes,"No, and I don't know what those are","No, not really",Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,"10,000 or more employees","Academic researcher;Developer, desktop or ente...",16,14,9,Very dissatisfied,Slightly dissatisfied,Somewhat confident,Yes,No,I am not interested in new job opportunities,Less than a year ago,"Write any code;Write code by hand (e.g., on a ...",No,"Industry that I'd be working in;Languages, fra...",I was preparing for a job search,UAH,Ukrainian hryvnia,NaN,NaN,NaN,55.0,There is a schedule and/or spec (made by me or...,Being tasked with non-development work;Inadequ...,A few days each month,Office,A little above average,"Yes, because I see value in code review",NaN,"Yes, it's part of our process",Not sure,I have little or no influence,C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA,HTML/CSS;Java;JavaScript;SQL;WebAssembly,Couchbase;MongoDB;MySQL;Oracle;PostgreSQL;SQLite,Couchbase;Firebase;MongoDB;MySQL;Oracle;Postgr...,Android;Linux;MacOS;Slack;Windows,Android;Docker;Kubernetes;Linux;Slack,Django;Express;Flask;jQuery;React.js;Spring,Flask;jQuery;React.js;Spring,Cordova;Node.js,Apache Spark;Hadoop;Node.js;React Native,IntelliJ;Notepad++;Vim,Linux-based,"Outside of work, for personal projects",Not at all,NaN,Yes,Also Yes,Yes,Facebook,In real life (in person),Username,I don't remember,Multiple times per day,Find answers to specific questions,More than 10 times per week,Stack Overflow was much faster,NaN,Yes,A few times per month or weekly,"No, I knew that Stack Overflow had a job board...","No, I've heard of them, but I am not part of a...","Yes, definitely",Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy

In [64]:
# lets say we want to rename the salary column (which is ConvertedComp) to "SalaryUSD".
# we can do that with the rename() method.
df.rename(columns={"ConvertedComp":"SalaryUSD"},inplace=True)
# after we are assured that everything is okay here, then we can use inplace arguemnet.

In [65]:
# inplace is a good idea.
# when we are working with pandas 
# we have to do lot of renames, filter,update, modify,manipulate and things like that.
# and it is a common scenario that we may mistake.
# so it is better to check if it is made the change as we want.
# and then we can make that change permanent using inplace.
# now lets look if we can access the SalaryUSD column.
df["SalaryUSD"]
# we can see that the change did work.

Respondent
1            NaN
2            NaN
3         8820.0
4        61000.0
5            NaN
          ...
88377        NaN
88601        NaN
88802        NaN
88816        NaN
88863        NaN
Name: SalaryUSD, Length: 88883, dtype: float64

In [66]:
# lets access the Hobbyist column.
df["Hobbyist"]

Respondent
1        Yes
2         No
3        Yes
4         No
5        Yes
        ...
88377    Yes
88601     No
88802     No
88816     No
88863    Yes
Name: Hobbyist, Length: 88883, dtype: object

In [67]:
# lets say we want to convert the values and convert all of the Yes values to True boolean and
#  convert all of the No values to False boolean using map.
df["Hobbyist"].map({"Yes":True,"No":False})

Respondent
1         True
2        False
3         True
4        False
5         True
         ...
88377     True
88601    False
88802    False
88816    False
88863     True
Name: Hobbyist, Length: 88883, dtype: bool

In [68]:
# now there isnt an inplace arguement for map().
# so what we can do here is that we can just set the series equal to that new series that we have made with map()
df["Hobbyist"]=df["Hobbyist"].map({"Yes":True,"No":False})

In [69]:
df

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,OrgSize,DevType,YearsCode,Age1stCode,YearsCodePro,CareerSat,JobSat,MgrIdiot,MgrMoney,MgrWant,JobSeek,LastHireDate,LastInt,FizzBuzz,JobFactors,ResumeUpdate,CurrencySymbol,CurrencyDesc,CompTotal,CompFreq,SalaryUSD,WorkWeekHrs,WorkPlan,WorkChallenge,WorkRemote,WorkLoc,ImpSyn,CodeRev,CodeRevHrs,UnitTests,PurchaseHow,PurchaseWhat,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,MiscTechWorkedWith,MiscTechDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs,BetterLife,ITperson,OffOn,SocialMedia,Extraversion,ScreenName,SOVisit1st,SOVisitFreq,SOVisitTo,SOFindAnswer,SOTimeSaved,SOHowMuchTime,SOAccount,SOPartFreq,SOJobs,EntTeams,SOComm,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,I am a student who is learning to code,True,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",NaN,NaN,4,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HTML/CSS;Java;JavaScript;Python,C;C++;C#;Go;HTML/CSS;Java;JavaScript;Python;SQL,SQLite,MySQL,MacOS;Windows,Android;Arduino;Windows,Django;Flask,Flask;jQuery,Node.js,Node.js,IntelliJ;Notepad++;PyCharm,Windows,I do not use containers,NaN,NaN,Yes,"Fortunately, someone else has that title",Yes,Twitter,Online,Username,2017,A few times per month or weekly,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was much faster,31-60 minutes,No,NaN,"No, I didn't know that Stack Overflow had a jo...","No, and I don't know what those are",Neutral,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,False,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,NaN,"Developer, desktop or enterprise applications;...",NaN,17,NaN,NaN,NaN,NaN,NaN,NaN,I am actively looking for a job,I've never had a job,NaN,NaN,Financial performance or funding status of the...,"Something else changed (education, award, medi...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C++;HTML/CSS;Python,C++;HTML/CSS;JavaScript;SQL,NaN,MySQL,Windows,Windows,Django,Django,NaN,NaN,Atom;PyCharm,Windows,I do not use containers,NaN,Useful across many domains and could change ma...,Yes,Yes,Yes,Instagram,Online,Username,2017,Daily or almost daily,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was much faster,11-30 minutes,Yes,A few times per month or weekly,"No, I knew that Stack Overflow had a job board...","No, and I don't know what those are","Yes, somewhat",Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
3,"I am not primarily a developer, but I write co...",True,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,"Taught yourself a new language, framework, or ...",100 to 499 employees,"Designer;Developer, back-end;Developer, front-...",3,22,1,Slightly satisfied,Slightly satisfied,Not at all confident,Not sure,Not sure,"I’m not actively looking, but I am open to new...",1-2 years ago,Interview with people in peer roles,No,"Languages, frameworks, and other technologies ...",I was preparing for a job search,THB,Thai baht,23000.0,Monthly,8820.0,40.0,There's no schedule or spec; I work on what se...,Distracting work environment;Inadequate access...,Less than once per month / Never,Home,Average,No,NaN,"No, but I think we should",Not sure,I have little or no influence,HTML/CSS,Elixir;HTML/CSS,PostgreSQL,PostgreSQL,NaN,NaN,NaN,Other(s):,NaN,NaN,Vim;Visual Studio Code,Linux-based,I do not use containers,NaN,NaN,Yes,Yes,Yes,Reddit,In real life (in person),Username,2011,A few times per week,Find answers to specific questions;Learn how t...,6-10 times per week,They were about the same,NaN,Yes,Less than once per month or monthly,Yes,"No, I've heard of them, but I am not part of a...",Neutral,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
4,I am a developer by profession,False,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,100 to 499 employees,"Developer, full-stack",3,16,Less than 1 year,Very satisfied,Slightly satisfied,Very confident,No,Not sure,I am not interested in new job opportunities,Less than a year ago,"Write code by hand (e.g., on a whiteboard);Int...",No,"Languages, frameworks, and other technologies ...",I was preparing for a job search,USD,United States dollar,61000.0,Yearly,61000.0,80.0,There's no schedule or spec; I work on what se...,NaN,Less than once per month / Never,Home,A little below average,No,NaN,"No, but I think we should",Developers typically have the most influence o...,I have little or no influence,C;C++;C#;Python;SQL,C;C#;JavaScript;SQL,MySQL;SQLite,MySQL;SQLite,Linux;Windows,Linux;Windows,NaN,NaN,.NET,.NET,Eclipse;Vim;Visual Studio;Visual Studio Code,Windows,I do not use containers,Not at all,"Useful for decentralized currency (i.e., Bitcoin)",Yes,SIGH,Yes,Reddit,In real life (in person),Username,2014,Daily or almost daily,Find answers to specific questions;Pass the ti...,1-2 times per week,Stack Overflow was much faster,31-60 minutes,Yes,Less than once per month or monthly,Yes,"No, and I don't know what those are","No, not really",Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
5,I am a developer by profession,True,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,"10,000 or more employees","Academic researcher;Developer, desktop or ente...",16,14,9,Very dissatisfied,Slightly dissatisfied,Somewhat confident,Yes,No,I am not interested in new job opportunities,Less than a year ago,"Write any code;Write code by hand (e.g., on a ...",No,"Industry that I'd be working in;Languages, fra...",I was preparing for a job search,UAH,Ukrainian hryvnia,NaN,NaN,NaN,55.0,There is a schedule and/or spec (made by me or...,Being tasked with non-development work;Inadequ...,A few days each month,Office,A little above average,"Yes, because I see value in code review",NaN,"Yes, it's part of our process",Not sure,I have little or no influence,C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA,HTML/CSS;Java;JavaScript;SQL;WebAssembly,Couchbase;MongoDB;MySQL;Oracle;PostgreSQL;SQLite,Couchbase;Firebase;MongoDB;MySQL;Oracle;Postgr...,Android;Linux;MacOS;Slack;Windows,Android;Docker;Kubernetes;Linux;Slack,Django;Express;Flask;jQuery;React.js;Spring,Flask;jQuery;React.js;Spring,Cordova;Node.js,Apache Spark;Hadoop;Node.js;React Native,IntelliJ;Notepad++;Vim,Linux-based,"Outside of work, for personal projects",Not at all,NaN,Yes,Also Yes,Yes,Facebook,In real life (in person),Username,I don't remember,Multiple times per day,Find answers to specific questions,More than 10 times per week,Stack Overflow was much faster,NaN,Yes,A few times per month or weekly,"No, I knew that Stack Overflow had a job board...","No, I've heard of them, but I am not part of a...","Yes, definitely",Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88377,NaN,True,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, and not looking for work",Canada,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HTML/CSS;JavaScript;Other(s):,C++;HTML/CSS;JavaScript;SQL;WebAssembly;Other(s):,Firebase;SQLite,Firebase;MySQL;SQLite,Linux,Google Cloud Platform;Linux,jQuery,jQuery;Vue.js,Node.js,React Native;Unity 3D;Unreal Engine,Atom;Visual Studio;Visual Studio Code,Windows,I do not use containers,NaN,Useful across many domains and could change ma...,Yes,Yes,What?,YouTube,NaN,Username,I don't remember,A few times per week,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was slightly faster,11-30 minutes,Yes,I have never participated in Q&A on Stack Over...,"No, I knew that Stack Overflow had a job board...","No, I've heard of them, but I am not part of a...","No, not at all",NaN,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,NaN,No,Appropriate in length,Easy
88601,NaN,False,Never,The quality of OSS and closed source software ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88802,NaN,False,Never,NaN,Employed full-time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88816,NaN,False,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88863,NaN,True,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Spain,"Yes, full-time","Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,NaN,NaN,8,11,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...,C;C++;C#;HTML/CSS;Java;Objective-C;SQL;Swift,DynamoDB;MariaDB;Microsoft SQL Server;MySQL,MariaDB;MySQL;Oracle;SQLite,iOS;Linux;MacOS;WordPress,Android;AWS;Google Cloud Platform;IBM Cloud or...,Django;jQuery;React.js,Django,Unity 3D;Unreal Engine,NaN,Android Studio;Atom;Eclipse;NetBeans;Notepad++...,Linux-based,Production,NaN,"Useful for decentralized currency (i.e., Bitcoin)",Yes,Also Yes,Yes,WhatsApp,In real life (in person),NaN,2012,Daily or almost daily,Find answers to specific questions;Learn how t...,6-10 times per week,Stack Overflow was much faster,11-30 minutes,Yes,A few times per month or weekly,Yes,"No, I've heard of them, but I am not part of a...","Yes, somewhat",Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,18.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Appropriate in length,Easy

In [ ]:
# remember when we used map(),
# anything that isn't the dictionay will converted into NaN value.
# if we only want to replace the yes and no values and remaining all of the values untouched,
# then we can use replace() method, instead of map() method.